numpy
unstructured
sentence-transformers
scikit-learn
torch
transformers
bitsandbytes
pydantic
fastapi
uvicorn
pydantic-settings
pdfminer-six
pi-heif
unstructured-inference
pdf2image
unstructured-pytesseract